@model IEnumerable<QLVatTuPhongThiNghiem.Models.Entities.PhongMay>
@{
    ViewData["Title"] = "Quản lý phòng máy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Quản lý phòng máy</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Dữ liệu danh mục</li>
                        <li class="breadcrumb-item active">Phòng máy</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Danh sách phòng máy</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã phòng máy</th>
                                        <th>Tên phòng máy</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model?.Any() == true)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.MaPhongMay</td>
                                                <td>@item.TenPhongMay</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2" class="text-center">Chưa có dữ liệu</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        feather.replace();
    });
</script>