@model QLVatTuPhongThiNghiem.Models.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hệ thống quản lý vật tư phòng thí nghiệm">
    <title>Đăng nhập - Quản lý vật tư phòng thí nghiệm</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
</head>

<body>
    <!-- login page start-->
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="login-card login-dark">
                    <div>
                        <div><a class="logo" href="#"><img class="img-fluid for-light" src="~/assets/images/logo/logo.png" alt="looginpage"><img class="img-fluid for-dark" src="~/assets/images/logo/logo_dark.png" alt="looginpage"></a></div>
                        <div class="login-main">
                            <form class="theme-form" asp-action="Login" method="post">
                                <h4>Đăng nhập vào hệ thống</h4>
                                <p>Nhập tên đăng nhập và mật khẩu để tiếp tục</p>

                                @if (!ViewData.ModelState.IsValid)
                                {
                                    <div class="alert alert-danger">
                                        <asp-validation-summary asp-validation-summary="All" />
                                    </div>
                                }

                                <div class="form-group">
                                    <label class="col-form-label" asp-for="TenDangNhap">Tên đăng nhập</label>
                                    <input class="form-control" type="text" asp-for="TenDangNhap" placeholder="Nhập tên đăng nhập" required>
                                    <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label" asp-for="MatKhau">Mật khẩu</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control" type="password" asp-for="MatKhau" placeholder="*********" required>
                                        <div class="show-hide"><span class="show"></span></div>
                                    </div>
                                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-0">
                                    <div class="checkbox p-0">
                                        <input id="checkbox1" type="checkbox" asp-for="RememberMe">
                                        <label class="text-muted" for="checkbox1">Ghi nhớ đăng nhập</label>
                                    </div>
                                    <button class="btn btn-primary btn-block w-100" type="submit">Đăng nhập</button>
                                </div>

                                <div class="login-social-title">
                                    <h6>Hệ thống quản lý vật tư phòng thí nghiệm</h6>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- latest jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Bootstrap js-->
        <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
        <!-- feather icon js-->
        <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
        <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
        <!-- Theme js-->
        <script src="~/assets/js/script.js"></script>

        <script>
            // Show/Hide password
            $(".show-hide").click(function() {
                $(this).toggleClass("show");
                var input = $($(this).prev());
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        </script>
    </div>
</body>
</html>
